<div class="row">
  <div
    [ngClass]="
      style_2
        ? 'col-xl-5 col-lg-5 col-md-6 col-sm-12 col-12'
        : 'col-xl-6 col-lg-6'
    "
  >
    <div *ngIf="!style_2" class="product__modal-box d-none d-md-flex">
      <div class="product__modal-nav mr-20">
        <nav>
          <div class="nav nav-tabs" id="product-details" role="tablist">
            <a
              *ngFor="let img of orderedImages"
              class="nav-item nav-link mb-1 cursor-pointer"
              [class.active]="img.ImageURL === productService.activeImg"
            >
              <div
                class="product__nav-img w-img"
                (click)="selectMedia(img.ImageURL, img.mediaType === 'video')"
              >
                <ng-container
                  *ngIf="img.mediaType !== 'video'; else videoThumbBuyer"
                >
                  <img
                    [src]="img.ImageURL"
                    alt="product-img"
                    style="width: 92px; height: 117px"
                  />
                </ng-container>
                <ng-template #videoThumbBuyer>
                  <div
                    class="product__video-thumb"
                    style="width: 92px; height: 117px"
                  >
                    <video
                      [src]="img.ImageURL"
                      muted
                      preload="metadata"
                      class="product__video-thumb-el"
                    ></video>
                    <div class="product__video-play-icon">
                      <i class="fas fa-play"></i>
                    </div>
                  </div>
                </ng-template>
              </div>
            </a>
          </div>
        </nav>
      </div>
      <div class="mb-20">
        <ng-container
          *ngIf="!productService.activeIsVideo; else activeVideoBuyer"
        >
          <div class="product__modal-img product__thumb w-img">
            <img [src]="productService.activeImg" alt="product-img" />
            <div *ngIf="product.Offer?.IsActive" class="product__sale">
              <span class="new">Sale</span>
              <span class="percent"
                >-{{ product.Offer?.DiscountPercentage }}%</span
              >
            </div>
          </div>
        </ng-container>
        <ng-template #activeVideoBuyer>
          <div class="product__modal-img">
            <video [src]="productService.activeImg" controls></video>
            <div *ngIf="product.Offer?.IsActive" class="product__sale">
              <span class="new">Sale</span>
              <span class="percent"
                >-{{ product.Offer?.DiscountPercentage }}%</span
              >
            </div>
          </div>
        </ng-template>
      </div>
    </div>

    <div *ngIf="style_2" class="product__modal-box d-none d-md-block">
      <div class="mb-20">
        <ng-container
          *ngIf="!productService.activeIsVideo; else activeVideoBuyer2"
        >
          <div class="product__modal-img w-img">
            <img [src]="productService.activeImg" alt="product-img" />
            <div *ngIf="product.Offer?.IsActive" class="product__sale">
              <span class="new">Sale</span>
              <span class="percent"
                >-{{ product.Offer?.DiscountPercentage }}%</span
              >
            </div>
          </div>
        </ng-container>
        <ng-template #activeVideoBuyer2>
          <div class="product__modal-img">
            <video [src]="productService.activeImg" controls></video>
            <div *ngIf="product.Offer?.IsActive" class="product__sale">
              <span class="new">Sale</span>
              <span class="percent"
                >-{{ product.Offer?.DiscountPercentage }}%</span
              >
            </div>
          </div>
        </ng-template>
      </div>
      <nav>
        <div class="nav nav-tabs" id="product-details" role="tablist">
          <a
            *ngFor="let img of orderedImages"
            class="nav-item nav-link mb-1 cursor-pointer"
            [class.active]="img.ImageURL === productService.activeImg"
          >
            <div
              class="product__nav-img w-img"
              (click)="selectMedia(img.ImageURL, img.mediaType === 'video')"
            >
              <ng-container
                *ngIf="img.mediaType !== 'video'; else videoThumbBuyer2"
              >
                <img
                  [src]="img.ImageURL"
                  alt="product-img"
                  style="width: 92px; height: 117px"
                />
              </ng-container>
              <ng-template #videoThumbBuyer2>
                <div
                  class="product__video-thumb"
                  style="width: 92px; height: 117px"
                >
                  <video
                    [src]="img.ImageURL"
                    muted
                    preload="metadata"
                    class="product__video-thumb-el"
                  ></video>
                  <div class="product__video-play-icon">
                    <i class="fas fa-play"></i>
                  </div>
                </div>
              </ng-template>
            </div>
          </a>
        </div>
      </nav>
    </div>

    <!-- Mobile only: swipeable carousel with dot/play-icon indicators -->
    <app-product-media-mobile-carousel
      class="d-block d-md-none"
      [images]="product.Images"
      (mediaSelected)="selectMedia($event.url, $event.isVideo)"
    >
    </app-product-media-mobile-carousel>
  </div>

  <div
    [ngClass]="
      style_2
        ? 'col-xl-7 col-lg-7 col-md-6 col-sm-12 col-12'
        : 'col-xl-6 col-lg-6'
    "
  >
    <div class="product__modal-content product__modal-content-2">
      <h4>
        <a [routerLink]="['/shop/shop-details', product._id]">{{
          product.Details.BrandName
        }}</a>
      </h4>
      <h5>
        <a [routerLink]="['/shop/shop-details', product._id]">{{
          product.ProductName
        }}</a>
      </h5>
      <div class="mb-25">
        <div class="product__price-2">
          <span *ngIf="product.Offer?.IsActive && product.DisplayPrice">
            {{
              product.DisplayPrice *
                (1 - product.Offer.DiscountPercentage / 100) | currency: "INR"
            }}
          </span>
          <span
            [class.old-price]="product.Offer?.IsActive && product.DisplayPrice"
          >
            {{ product.DisplayPrice | currency: "INR" }}
          </span>
        </div>
        <p
          *ngIf="product.IsPriceInclusiveOfTax"
          class="product__tax-note mt-5 mb-0"
        >
          <i class="fas fa-check-circle"></i> Price inclusive of all taxes
        </p>
      </div>
      <div class="product__modal-des mb-25" *ngIf="product.Description.Content">
        <p>{{ product.Description.Content }}</p>
      </div>
      <div class="product__modal-form mb-25">
        <div class="product__tag mb-25">
          <span>Product Number :</span>
          <span
            ><a class="cursor-pointer">{{
              product.Details.ManufacturerProductNumber | dash
            }}</a></span
          >
        </div>
        <div class="product__tag mb-25">
          <span>Color :</span>
          <span>
            <a class="cursor-pointer">{{
              product.Details.DialColorName | dash
            }}</a>
          </span>
        </div>
      </div>

      <div class="rating rating-shop mb-25">
        <ul>
          <li *ngFor="let s of stars">
            <span>
              <i
                class="fa-star"
                [ngClass]="s <= averageRating ? 'fas' : 'fal'"
              ></i>
            </span>
          </li>
        </ul>
        <span *ngIf="reviewCount > 0" class="rating-no ml-10 rating-left">
          {{ reviewCount }} rating(s)
        </span>
        <span class="review rating-left"
          ><a
            class="cursor-pointer"
            data-bs-toggle="modal"
            [attr.data-bs-target]="'#review-modal-' + product._id"
            >Add your Review</a
          ></span
        >
      </div>

      <div class="add-cart-list d-flex align-items-center mb-20">
        <a
          *ngIf="!isItemInCart(product)"
          (click)="addToCart()"
          class="os-btn os-btn-black mr-10 cursor-pointer"
        >
          Add to Cart
        </a>
        <a
          *ngIf="isItemInCart(product)"
          routerLink="/buyer/cart"
          class="os-btn os-btn-black mr-10 cursor-pointer"
        >
          View Cart
        </a>
        <div class="product__action-2 transition-3">
          <a
            (click)="addToWishlist()"
            class="cursor-pointer"
            [class.active]="inWishlist$ | async"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="Add to Wishlist"
          >
            <i [ngClass]="(inWishlist$ | async) ? 'fas fa-heart' : 'fal fa-heart'"></i>
          </a>
          <a
            *ngIf="product.UserID !== userId"
            (click)="openChat()"
            class="cursor-pointer"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="Chat with Seller"
          >
            <i class="fal fa-comment-alt"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Add review modal -->
<div
  #reviewModal
  class="modal fade"
  [id]="'review-modal-' + product._id"
  tabindex="-1"
  [attr.aria-labelledby]="'review-modal-' + product._id"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="product__modal-wrapper p-relative">
        <div class="product__modal-close p-absolute">
          <button type="button" data-bs-dismiss="modal" aria-label="Close">
            <i class="fal fa-times"></i>
          </button>
        </div>
        <div class="product__modal-inner p-30">
          <h4 class="mb-20">Add a Review</h4>
          <app-review-form
            [productId]="product._id"
            (reviewSubmitted)="onReviewSubmitted()"
          ></app-review-form>
        </div>
      </div>
    </div>
  </div>
</div>
