<app-breadcrumb-two title="Account" subtitle="Account"></app-breadcrumb-two>

<!-- profile area start -->
<section class="profile__area pt-120 pb-50 grey-bg">
  <div class="container">
    <div class="profile__basic-inner pb-20 bg-white">
      <div class="row align-items-center">
        <div class="col-xxl-6 col-md-6">
          <div class="profile__basic d-md-flex align-items-center">
            <div class="profile__basic-thumb mr-30">
              <img src="assets/img/blog/comments/avater-3.png" alt="" />
            </div>
            <div class="profile__basic-content">
              <h3 class="profile__basic-title">Welcome Back</h3>
            </div>
          </div>
        </div>
        <div class="col-xxl-6 col-md-6">
          <div
            class="profile__basic-cart d-flex align-items-center justify-content-md-end"
          >
            <div class="cart-info mr-10">
              <a routerLink="/buyer/cart">View cart</a>
            </div>
            <div class="cart-item">
              <a routerLink="/buyer/cart">
                <i class="fa-regular fa-basket-shopping"></i>
                <span class="cart-quantity">{{ cartItems.length }}</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- profile area end -->

<!-- profile menu area start -->
<section class="profile__menu pb-70 grey-bg">
  <div class="container">
    <div class="row">
      <div class="col-xxl-4 col-md-4">
        <div class="profile__menu-left bg-white mb-50">
          <h3 class="profile__menu-title">
            <i class="fa fa-list-alt"></i> Your Menu
          </h3>
          <div class="profile__menu-tab">
            <div
              class="nav nav-tabs flex-column justify-content-start text-start"
              id="nav-tab"
              role="tablist"
            >
              <button
                class="nav-link active"
                id="nav-account-tab"
                data-bs-toggle="tab"
                data-bs-target="#nav-account"
                type="button"
                role="tab"
                aria-controls="nav-account"
                aria-selected="true"
              >
                <i class="fa fa-user"></i> My Account
              </button>

              <button
                class="nav-link"
                id="nav-order-tab"
                data-bs-toggle="tab"
                data-bs-target="#nav-order"
                type="button"
                role="tab"
                aria-controls="nav-order"
                aria-selected="false"
              >
                <i class="fa fa-file"></i> Orders
              </button>

              <!-- <button
                class="nav-link"
                id="nav-password-tab"
                data-bs-toggle="tab"
                data-bs-target="#nav-password"
                type="button"
                role="tab"
                aria-controls="nav-password"
                aria-selected="false"
              >
                <i class="fa fa-lock"></i>Change Password
              </button> -->

              <!-- <button class="nav-link">
                <i class="fa fa-sign-out"></i> Logout
              </button> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-xxl-8 col-md-8">
        <div class="profile__menu-right">
          <div class="tab-content" id="nav-tabContent">
            <div
              class="tab-pane fade show active"
              id="nav-account"
              role="tabpanel"
              aria-labelledby="nav-account-tab"
            >
              <div class="profile__info">
                <div
                  class="profile__info-top d-flex justify-content-between align-items-center"
                >
                  <h3 class="profile__info-title">Profile Information</h3>
                  <!-- <button
                    class="profile__info-btn"
                    type="button"
                    data-bs-toggle="modal"
                    data-bs-target="#profile_edit_modal"
                  >
                    <i class="fa-regular fa-pen-to-square"></i> Edit Profile
                  </button> -->
                </div>

                <div class="profile__info-wrapper white-bg">
                  <!-- Loading: shimmer placeholders for the profile fields -->
                  <app-skeleton
                    *ngIf="profileLoading"
                    type="profile-row"
                    [count]="3"
                  ></app-skeleton>

                  <ng-container *ngIf="!profileLoading">
                    <div class="profile__info-item" *ngIf="userData?.name">
                      <p>Name</p>
                      <h4>{{ userData?.name }}</h4>
                    </div>
                    <div class="profile__info-item">
                      <p>Email</p>
                      <h4>
                        <a
                          href="{{ mail }}"
                          class="__cf_email__"
                          data-cfemail="94fdfaf2fbd4f1f0e1fff1e6baf7fbf9"
                          >{{ userData?.email }}</a
                        >
                      </h4>
                    </div>
                    <div class="profile__info-item" *ngIf="userData?.phone">
                      <p>Phone</p>
                      <h4>{{ userData?.phone }}</h4>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="nav-order"
              role="tabpanel"
              aria-labelledby="nav-order-tab"
            >
              <div class="order__info">
                <div
                  class="order__info-top d-flex justify-content-between align-items-center"
                >
                  <h3 class="order__info-title">My Orders</h3>
                </div>

                <!-- Loading: shimmer table rows -->
                <div *ngIf="ordersLoading" class="order__list white-bg">
                  <app-skeleton type="table-row" [count]="4"></app-skeleton>
                </div>

                <app-empty-state
                  *ngIf="!ordersLoading && orders.length === 0"
                  message="No Orders Found"
                ></app-empty-state>

                <div
                  *ngIf="!ordersLoading && orders.length > 0"
                  class="order__list white-bg table-responsive"
                >
                  <table class="table">
                    <thead>
                      <tr>
                        <th style="width: 100px">Image</th>
                        <th style="width: 220px">Name</th>
                        <th style="width: 120px">Price</th>
                        <th style="width: 220px">Shipping Details</th>
                        <th style="width: 90px">Invoice</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let order of orders">
                        <td class="product-cell">
                          <img
                            *ngFor="let product of order.Products"
                            [src]="product.ImageURL"
                            alt="{{ product.ProductName }}"
                            class="product-img d-block mb-1"
                            style="width: 120px"
                          />
                        </td>
                        <td class="order__title pr-2 pl-2">
                          <span
                            *ngFor="let product of order.Products"
                            class="d-block"
                          >
                            {{ product.ProductName }}
                          </span>
                        </td>
                        <td class="order__title pr-2 pl-2">
                          {{ order.TotalAmount | currency: "INR" }}
                        </td>
                        <td class="order__title pr-2 pl-2">
                          <span class="d-block">
                            Status: {{ order.DeliveryStatus || "Pending" }}
                          </span>
                          <span class="d-block">
                            Courier: {{ order.Shipments?.[0]?.Courier || "-" }}
                          </span>
                          <span class="d-block">
                            Tracking:
                            {{ order.Shipments?.[0]?.TrackingNumber || "-" }}
                          </span>
                        </td>
                        <td class="order__title pr-2 pl-2 text-center">
                          <!-- Desktop: open invoice modal -->
                          <a
                            class="invoice-view-link cursor-pointer d-none d-md-inline-block"
                            title="View invoice"
                            (click)="viewInvoice(order)"
                          >
                            <i class="fa fa-eye"></i>
                          </a>
                          <!-- Mobile: download invoice directly -->
                          <a
                            class="invoice-view-link cursor-pointer d-inline-block d-md-none"
                            title="Download invoice"
                            (click)="downloadInvoiceDirect(order)"
                          >
                            <i
                              class="fa"
                              [ngClass]="
                                isCapturing || isDownloading
                                  ? 'fa-spinner fa-spin'
                                  : 'fa-download'
                              "
                            ></i>
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="nav-password"
              role="tabpanel"
              aria-labelledby="nav-password-tab"
            >
              <div class="password__change">
                <div class="password__change-top">
                  <h3 class="password__change-title">Change Password</h3>
                </div>
                <div class="password__form white-bg">
                  <form action="#">
                    <div class="password__input">
                      <p>Old Password</p>
                      <input type="password" placeholder="Enter Old Password" />
                    </div>
                    <div class="password__input">
                      <p>New Password</p>
                      <input type="password" placeholder="Enter New Password" />
                    </div>
                    <div class="password__input">
                      <p>Confirm Password</p>
                      <input type="password" placeholder="Confirm Password" />
                    </div>
                    <div class="password__input">
                      <button type="submit" class="os-btn os-btn-black">
                        Update password
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- profile menu area end -->

<!-- Invoice modal -->
<div
  *ngIf="isInvoiceModalOpen || isCapturing"
  class="modal fade show invoice-modal"
  [class.is-capturing]="isCapturing"
  tabindex="-1"
  role="dialog"
>
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="product__modal-wrapper p-relative">
        <div class="product__modal-close p-absolute">
          <button type="button" aria-label="Close" (click)="closeInvoice()">
            <i class="fal fa-times"></i>
          </button>
        </div>
        <div class="product__modal-inner p-30">
          <!-- Captured for the PDF -->
          <div #invoiceContent class="invoice" *ngIf="selectedOrder">
          <!-- Header (kept in the body so it appears in the downloaded PDF) -->
          <div
            class="invoice__head d-flex justify-content-between align-items-center"
          >
            <h2 class="invoice__title">Invoice</h2>
            <img
              *ngIf="companyLogoUrl"
              [src]="companyLogoUrl"
              [alt]="company.name"
              class="invoice__logo"
            />
            <span *ngIf="!companyLogoUrl" class="invoice__brand">
              {{ company.name }}
            </span>
          </div>
          <hr class="invoice__rule" />

          <!-- Parties -->
          <div class="invoice__parties d-flex justify-content-between">
            <div class="invoice__col">
              <h6 class="invoice__label">Billed By</h6>
              <p class="invoice__text invoice__name">{{ company.name }}</p>
              <p class="invoice__text">{{ company.address }}</p>
              <p class="invoice__text">{{ company.email }}</p>
              <p class="invoice__text">{{ company.phone }}</p>
            </div>
            <div class="invoice__col">
              <h6 class="invoice__label">Billed To</h6>
              <ng-container *ngIf="clientAddress as addr; else noClient">
                <p class="invoice__text invoice__name">
                  {{ addr.FirstName }} {{ addr.LastName }}
                </p>
                <p class="invoice__text" *ngIf="addr.AddressLine1">
                  {{ addr.AddressLine1
                  }}{{ addr.AddressLine2 ? ", " + addr.AddressLine2 : "" }}
                </p>
                <p class="invoice__text">
                  {{ addr.City }}{{ addr.City && addr.State ? ", " : "" }}
                  {{ addr.State }} {{ addr.PostalCode }}
                </p>
                <p class="invoice__text" *ngIf="addr.Country">
                  {{ addr.Country }}
                </p>
                <p class="invoice__text" *ngIf="userData?.email">
                  {{ userData.email }}
                </p>
                <p class="invoice__text" *ngIf="addr.Phone || userData?.phone">
                  {{ addr.Phone || userData?.phone }}
                </p>
              </ng-container>
              <ng-template #noClient>
                <p class="invoice__text" *ngIf="userData?.email">
                  {{ userData.email }}
                </p>
                <p class="invoice__text" *ngIf="!userData?.email">—</p>
              </ng-template>
            </div>
          </div>

          <!-- Meta -->
          <div class="invoice__meta">
            <div class="invoice__meta-row">
              <h6 class="invoice__label">ISSUED ON</h6>
              <span class="invoice__text">
                {{ selectedOrder.CheckoutDate | date: "mediumDate" }}
              </span>
            </div>
            <div class="invoice__meta-row">
              <h6 class="invoice__label">PAYMENT STATUS</h6>
              <span class="invoice__text">{{ selectedOrder.PaymentStatus }}</span>
            </div>
            <div class="invoice__meta-row">
              <h6 class="invoice__label">INVOICE #</h6>
              <span class="invoice__text invoice__number">
                {{ selectedOrder._id | uppercase }}
              </span>
            </div>
          </div>

          <!-- Items -->
          <table class="table invoice__items">
            <thead>
              <tr>
                <th>ITEM DESCRIPTION</th>
                <th class="text-end">UNIT PRICE</th>
                <th class="text-end">TOTAL PRICE</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of selectedOrder.Products">
                <td>{{ product.ProductName }}</td>
                <td class="text-end">
                  {{ product.Price | platformPrice | currency: "INR" }}
                </td>
                <td class="text-end">
                  {{ product.Price | platformPrice | currency: "INR" }}
                </td>
              </tr>
            </tbody>
          </table>

          <!-- Totals -->
          <div class="invoice__totals">
            <div class="invoice__totals-row">
              <span>Subtotal</span>
              <span>{{ invoiceSubtotal | currency: "INR" }}</span>
            </div>
            <div class="invoice__totals-row" *ngIf="platformCharges > 0">
              <span>Platform Charges</span>
              <span>{{ platformCharges | currency: "INR" }}</span>
            </div>
            <div class="invoice__totals-row invoice__totals-row--grand">
              <span>Total Amount Paid</span>
              <span>{{ invoiceTotal | currency: "INR" }}</span>
            </div>
          </div>

          <p class="invoice__footer-note">
            Thank you for shopping with {{ company.name }}. We appreciate your
            purchase. If you have any questions regarding this invoice, feel free
            to contact us at {{ company.email }}.
          </p>
          </div>

          <div class="invoice__actions d-flex justify-content-end mt-30">
            <button type="button" class="os-btn mr-5" (click)="closeInvoice()">
              Close
            </button>
            <button
              type="button"
              class="os-btn"
              (click)="downloadInvoice()"
              [disabled]="isDownloading"
            >
              {{ isDownloading ? "Downloading…" : "Download PDF" }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  *ngIf="isInvoiceModalOpen && !isCapturing"
  class="modal-backdrop fade show"
></div>
