@import 'variables';

.policy__content {
  .policy__intro {
    margin-bottom: 25px;
  }

  .policy__section {
    margin-bottom: 30px;

    h4 {
      font-size: 24px;
      color: $heading-color;
      margin-bottom: 15px;
    }

    p {
      color: $body-text-color;
      margin-bottom: 12px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
