<section class="blog__area pt-100 pb-100">
  <div class="container">
    <!-- Loading / empty are shared by both layouts -->
    <div class="row" *ngIf="loading">
      <div
        *ngFor="let slot of skeletonSlots"
        [ngClass]="
          blog_3_col
            ? 'col-xl-4 col-lg-4 col-md-6'
            : blog_2_col
            ? 'col-xl-6 col-lg-6 col-md-6'
            : 'col-xl-12'
        "
      >
        <app-skeleton type="blog-card" [count]="1"></app-skeleton>
      </div>
    </div>

    <app-empty-state
      *ngIf="!loading && blogs.length === 0"
      message="No Blog Posts Found"
    ></app-empty-state>

    <div class="row" *ngIf="!loading && blogs.length && !blog_2_col && !blog_3_col">
      <div *ngIf="left_side && !no_side" class="col-xl-3 col-lg-4">
        <!-- blog sidebar start -->
        <app-blog-sidebar></app-blog-sidebar>
        <!-- blog sidebar end -->
      </div>
      <div [ngClass]="getClass()">
        <div class="blog__wrapper">
          <ng-container *ngFor="let blog of blogs">
            <app-blog-postbox-item [blog]="blog"></app-blog-postbox-item>
          </ng-container>
          <div class="row">
            <div class="col-xl-12">
              <div class="shop-pagination-wrapper">
                <app-pagination
                  [data]="blogs"
                  [paginate]="paginate"
                  (setPage)="setPage($event)"
                >
                </app-pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!left_side && !no_side" class="col-xl-3 col-lg-4 offset-xl-1">
        <!-- blog sidebar start -->
        <app-blog-sidebar></app-blog-sidebar>
        <!-- blog sidebar end -->
      </div>
    </div>

    <div class="blog__wrapper" *ngIf="!loading && blogs.length && blog_2_col">
      <div class="row">
        <div
          *ngFor="let blog of blogs"
          [ngClass]="[
            blog_3_col
              ? 'col-xl-4 col-lg-4 col-md-6'
              : 'col-xl-6 col-lg-6 col-md-6'
          ]"
        >
          <app-blog-postbox-item
            [blog]="blog"
            [cls]="blog_3_col ? 'blog__border-bottom mb-60 pb-60' : 'mb-60'"
            [title_cls]="blog_3_col ? false : true"
          >
          </app-blog-postbox-item>
        </div>
        <div class="row">
          <div class="col-xl-12">
            <div class="shop-pagination-wrapper">
              <app-pagination
                [data]="blogs"
                [paginate]="paginate"
                (setPage)="setPage($event)"
              >
              </app-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
