<div class="blog__item" [ngClass]="getClass()">
  <div class="blog__thumb fix">
    <a [routerLink]="['/pages/blog-details', blogLink]" class="w-img">
      <img [src]="blog.Image" [alt]="blog.Title" />
    </a>
  </div>
  <div class="blog__content">
    <h4 [class.blog__title]="title_cls">
      <a [routerLink]="['/pages/blog-details', blogLink]">{{ blog.Title }}</a>
    </h4>
    <div class="blog__meta">
      <span
        >By <a href="#">{{ blog.Author }}</a></span
      >
      <span>/ {{ blog.PublishedAt | date: "dd MMM, yyyy" }}</span>
    </div>
    <p>{{ blog.Excerpt }}</p>
    <a [routerLink]="['/pages/blog-details', blogLink]" class="os-btn"
      >read more</a
    >
  </div>
</div>
